# Environment variables
config.env
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# Deployment
deployment.zip
package/
dummy.zip
dummy.py

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

twitter-bot-instructions.md